<%= form_for @nominee, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :description, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :video_id, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :video_id, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :category_id, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :category_id, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :nominee_type, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :nominee_type, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :nominee, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :nominee, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :nominee_description, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :nominee_description, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  nominees_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
