<%- model_class = BallotNominee -%>
<div class="page-header">
  <h1><%=t '.title', :default => BallotNominee %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:video_id) %></th>
      <th><%= model_class.human_attribute_name(:category_key) %></th>
      <th><%= model_class.human_attribute_name(:bn_type) %></th>
      <th><%= model_class.human_attribute_name(:nominee) %></th>
      <th><%= model_class.human_attribute_name(:nominee_description) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @ballot_nominees.each do |ballot_nominee| %>
      <tr>
        <td><%= ballot_nominee.id %></td>
        <td><%= ballot_nominee.video_id %></td>
        <td><%= ballot_nominee.category_key %></td>
        <td><%= ballot_nominee.bn_type %></td>
        <td><%= ballot_nominee.nominee %></td>
        <td><%= ballot_nominee.nominee_description %></td>
        <td><%=l ballot_nominee.created_at, format: :long %></td>
        <td>
          <%= link_to ballot_nominee_path(ballot_nominee), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to ballot_nominee_path(ballot_nominee), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_ballot_nominee_path,
            :class => 'btn btn-primary' %>
